h1, p, a, h2, h5, h4, h6, #form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #800080;
    
}
p{
    margin: 0
}
.jumbotron{
background-color: #f8f4f8;
}

.bg-light {
    background-color: #800080!important;
}
.btn-outline-dark {
    color: #f8f4f8;
    border-color: #f8f4f8;
}

.btn-dark{
    background-color: #800080;
}

.img{
    width: 5%;
    height: 5%;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show, .dropdown-toggle>.nav-link {
    color: #f8f4f8;
}

.navbar {
    position: relative;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f4f8;
}

#team{
    width: 150px;
    height: 150px;
}
.btn-outline-dark2 {
    color: #800080;
    border-color: #800080;
}
.ideathon{
    padding-top: auto;
    padding-bottom: auto;

}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f4f8;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
img{
    width: 350px;
    height: auto;
}

input {
    background: none;
    color: #800080;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-radius: 0;
    border-color: #800080;  }
  input:focus {
    outline: none;
  }

body{
    color: #f8f4f8;
}

.suggestions{
    color:#800080; ;
}

a:not([href]){
    color: #f8f4f8;
}
h6 {
    font-size: 14px;
}